@page "/Channels"
@using AdminBlazor.Common.Constants
@using Discord
@using Domain.Entities.Logs
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext Database
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Channels</PageTitle>

<div class="search-box">
    <input class="search-query" type="search" autofocus @bind="_searchQuery" @bind:event="onchange" placeholder="Search.." />
</div>

<div>
    <QuickGrid Items="@FilteredChannels" Pagination="@_pagination">
        <TemplateColumn Title="Id" SortBy="@_sortById">
            <div class="flex items-center">
                <nobr>
                    <strong>@context.Id</strong>
                </nobr>
            </div>
        </TemplateColumn>
        <TemplateColumn Title="Name" SortBy="@_sortByName">
            <div class="flex items-center">
                <nobr>
                    <strong>@context.Name</strong>
                </nobr>
            </div>
        </TemplateColumn>
        <TemplateColumn Title="Entity created at" SortBy="@_sortByEntityCreatedAt">
            <div class="flex items-center">
                <nobr>
                    <strong>@context.EntityCreatedAt</strong>
                </nobr>
            </div>
        </TemplateColumn>
        <TemplateColumn Title="Entity modified at" SortBy="@_sortByEntityModifiedAt">
            <div class="flex items-center">
                <nobr>
                    <strong>@context.EntityModifiedAt</strong>
                </nobr>
            </div>
        </TemplateColumn>
        <TemplateColumn Title="Channel type" SortBy="@_sortByType">
            <div class="flex items-center">
                <nobr>
                    <strong>@(context.Type.HasValue ? (ChannelType)context.Type : "")</strong>
                </nobr>
            </div>
        </TemplateColumn>
        <TemplateColumn Title="Guild">
            <div class="flex items-center">
                <nobr>
                    <img class="w-8 h-6 mr-4" width="50px" height="50px" src="@(context.LogGuild?.IconUrl ?? ViewConstants.DefaultIcon)" alt="-"/>
                </nobr>
            </div>
        </TemplateColumn>
        <TemplateColumn Title="Guild Id" SortBy="@_sortByGuildId">
            <div class="flex items-center">
                <nobr>
                    <strong>@context.LogGuildId</strong>
                </nobr>
            </div>
        </TemplateColumn>
        <TemplateColumn Title="Guild name" SortBy="@_sortByGuildName">
            <div class="flex items-center">
                <nobr>
                    <strong>@context.LogGuild?.Name</strong>
                </nobr>
            </div>
        </TemplateColumn>
        <TemplateColumn Title="Actions">
            <a class="details-link" href=@($"/commands/details/{context.Id}")>
                Details
            </a>
        </TemplateColumn>
    </QuickGrid>
</div>

<Paginator State="@_pagination" />

<div class="page-size-chooser">
    Items per page:
    <select @bind="@_pagination.ItemsPerPage">
        <option>5</option>
        <option>10</option>
        <option>25</option>
    </select>
</div>

@code {
    private readonly PaginationState _pagination = new() { ItemsPerPage = 10 };
    
    readonly GridSort<LogChannel> _sortById = GridSort<LogChannel>.ByAscending(p => p.Id);
    readonly GridSort<LogChannel> _sortByName = GridSort<LogChannel>.ByAscending(p => p.Name);
    readonly GridSort<LogChannel> _sortByEntityCreatedAt = GridSort<LogChannel>.ByAscending(p => p.EntityCreatedAt);
    readonly GridSort<LogChannel> _sortByEntityModifiedAt = GridSort<LogChannel>.ByAscending(p => p.EntityModifiedAt);
    readonly GridSort<LogChannel> _sortByType = GridSort<LogChannel>.ByAscending(p => p.Type);
    readonly GridSort<LogChannel> _sortByGuildId = GridSort<LogChannel>.ByAscending(p => p.LogGuildId);
    readonly GridSort<LogChannel> _sortByGuildName = GridSort<LogChannel>.ByAscending(p => p.LogGuild!.Name);

    private string _searchQuery = null!;
    private IQueryable<LogChannel> _itemsQueryable = null!;
    IQueryable<LogChannel> FilteredChannels
    {
        get
        {
            var result = _itemsQueryable;
            
            if (!string.IsNullOrEmpty(_searchQuery))
            {
                result = result.Where(x => 
                    x.Id.ToString() == _searchQuery ||
                    x.Name!.ToLower().Contains(_searchQuery.ToLower()) ||
                    x.LogGuildId.ToString() == _searchQuery ||
                    x.LogGuild!.Name!.ToLower().Contains(_searchQuery.ToLower()));
            }

            return result;
        }
    }
    
    protected override void OnInitialized()
    {
        _itemsQueryable = Database.LogChannels
            .Include(x => x.LogGuild)
            .AsQueryable();
    }
}